## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
print(7**4)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s = "Hi there Sam!"
s = s.split(" ")
print(s)

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [ ]:
string = "The diameter of {} is {} kilometers"
print(string.format(planet,diameter))

The diameter of Earth is 12742 kilometers

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst[3][1][2]

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

List is mutable while tuple are immutable but can be converted to list and muted and changed back

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [20]:
def domainGet(email):
    return email.split('@')[-1]
email = input("Enter your email: ")

Enter your email: "user@domain.com"

In [21]:
domainGet(email)

'"user'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [15]:
def DogPresent(word):
    if "dog" in word:
        return True
    else:
        return False
stringInput = input()

dog input

In [16]:
print(DogPresent(stringInput))

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [17]:
def DogPresent(word):
    count = 0
    word = word.split(" ")
    for i in word:
      if "dog" in i:
        count+=1
    return count
stringInput = input()

dog in dog

In [18]:
print(DogPresent(stringInput))

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
print("Please enter the speed(km/h)(only number please): \n")
speed = int(input("> "))

print("Please enter your birthday: (in DD/MM/YYYY format)\n")
birthday = str(input("> "))

def speeding(speed, birthday):
    if birthday == '29/08/1989':
        s = speed - 5
    else:
        s = speed

    if s <= 60:
        print("You pass.")
    elif s > 61 and s <= 80:
        print("You get a small ticket")
    else:
        print("You get a big ticket.")

speeding(speed, birthday)

'Big Ticket'

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [ ]:
employeeName=["raj","ram","sam","santhosh","vijay"]
print(employeeName)
salary=[230000,220000,250000,240000,200000]
print(salary)
add=0
for i in salary:
   add=add+i
print("total:-",add)

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [19]:
def merge(d1,d2):
    res = {**d1, **d2}
    return res
d1 = {'Empid':1, 'Empname':"rufina" , 'Basicpay':50000}
d2 = {'deptName':"cse" , 'Deptid':45}
print(merge(d1,d2))

{'Empid': 1, 'Empname': 'rufina', 'Basicpay': 50000, 'deptName': 'cse', 'Deptid': 45}